.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.about__img-1 {
  display: inline-block;
}

.about__img-1,
.about__img-2 {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 178px;
    height: 177px;
    background-repeat: no-repeat;

    position: absolute;
    z-index: -1;
  }
}

.about__img-1:after {
  background-image: url('../img/about-img-grid1.png');
  right: 0;
  top: 50%;
  transform: translate(80%, -50%);
}

.about__img-2:after {
  background-image: url('../img/about-img-grid2.png');
  bottom: 0;
  left: 2%;
  transform: translateY(30%);
}

.about__img-2 {
  margin-top: -34%;
  margin-left: 10%;
}

.about__title {
  margin-bottom: 40px;
  width: max-content;
  font-size: 35px;
  font-weight: 700;
  position: relative;
}

.about__suptitle {
  position: absolute;
  bottom: 0;
  right: -15%;

  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 370px;
  font-weight: 400;
  line-height: 1;
  color: #292929;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $white;
  opacity: .16;
  user-select: none;
}

.about__text {
  margin-bottom: 70px;
  font-size: 19px;

  p + p {
    margin-top: 15px;
  }
}