.category {
  margin-bottom: 60px;
  padding: 100px 0 60px;
  background-color: #6f6f6f;
}

.category .item__logo {
  display: block;
  margin-bottom: 15px;
  width: 154px;
  height: 154px;
  background-color: $yellow;
  border-radius: 50%;
  position: relative;

  &:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
  }

  &-1:before {
    left: 0;
    bottom: 0;
    width: 191px;
    height: 191px;
    background-image: url('../img/category/1.png');
  }

  &-2:before {
    left: -23px;
    bottom: -15px;
    width: 225px;
    height: 208px;
    background-image: url('../img/category/2.png');
  }

  &-3:before {
    left: -15px;
    bottom: 28px;
    width: 181px;
    height: 141px;
    background-image: url('../img/category/3.png');
  }

  &-4:before {
    left: 0;
    bottom: 14px;
    width: 158px;
    height: 141px;
    background-image: url('../img/category/4.png');
  }

  &-5:before {
    left: 11px;
    bottom: 4px;
    width: 136px;
    height: 137px;
    background-image: url('../img/category/5.png');
  }

  &-6:before {
    left: -48px;
    bottom: -8px;
    width: 217px;
    height: 217px;
    background-image: url('../img/category/6.png');
  }
}

.category ul {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.category .item__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  cursor: pointer;
  transition: all .4s linear;

  &:hover .item__logo {
    filter: blur(5px);
  }

  &:hover .item__title {
    opacity: 0;
    visibility: hidden;
  }

  &:hover .item__text {
    opacity: 1;
    visibility: visible;
  }
}

.category .item__text {
  opacity: 0;
  visibility: hidden;
  transition: all .4s linear;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  padding: 14px 60px;
  background-color: $yellow;
  color: $black;
  font-weight: 700;
  border-bottom: 3px solid #b18a20;
}

.category .item__title {
  text-align: center;
  font-weight: 700;
  transition: all .3s linear;
}

@media (max-width: 1499px) {
  .category ul {
    padding: 0 10px;
  }

  .category .item__text {
    padding: 12px 40px;
  }
}

@media (max-width: 1299px) {
  .category {
    padding: 40px 0;
  }

  .category ul {
    padding: 10px 0;
    overflow-x: auto;
  }

  .category .item__link {
    padding: 0 20px;
  }

  .category .item__logo {
    width: 120px;
    height: 120px;

    &-1:before {
      left: 0;
      bottom: 0;
      width: 141px;
      height: 141px;
    }

    &-2:before {
      left: -13px;
      bottom: -10px;
      width: 155px;
      height: 143px;
    }

    &-3:before {
      left: -10px;
      bottom: 20px;
      width: 131px;
      height: 102px;
    }

    &-4:before {
      left: 2px;
      bottom: 14px;
      width: 118px;
      height: 105px;
    }

    &-5:before {
      left: 11px;
      bottom: 5px;
      width: 100px;
      height: 100px;
    }

    &-6:before {
      left: -30px;
      bottom: -10px;
      width: 160px;
      height: 160px;
    }
  }

  .category .item__text {
    top: 40%;
    padding: 11px 30px;
    font-size: 14px;
    border-bottom-width: 2px;
  }
}

@media (max-width: 991px) {
  .category .item__title {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .category {
    display: none;
  }
}