.copyright {
  background-color: #333333;
}

.copyright__inner {
  height: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  color: #a8a8a8;
  font-size: 14px;

  a {
    color: $yellow;
  }
}

@media (max-width: 991px) {
  .copyright {
    margin-bottom: 57px;
  }

  .copyright__text {
    font-size: 13px;
  }
}

@media (max-width: 869px) {
  .copyright__inner {
    padding: 8px 0;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright__text {
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .copyright {
    margin-bottom: 51px;
  }
}