.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__btn {
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;

  padding: 19px 30px;
  width: 365px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 25px;
  color: $white;
}

.dropdown__content {
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s linear, visibility .2s linear;

  padding: 15px 0;
  position: absolute;
  background-color: $white;
  width: 365px;
  z-index: 1;
}

.dropdown__content.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown:hover .dropdown__content {
  opacity: 1;
  visibility: visible;
}

.dropdown__content-link {
  color: #3c3c3c;
  padding: 9px 24px 9px 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 13px;
    height: 9px;
    background: url('../img/icon-arrow-right.svg') no-repeat center;
    background-size: contain;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    z-index: 1;
  }
}

.dropdown__content-circle {
  margin-right: 13px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: $yellow;
  position: relative;

  &:before {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 1;
  }

  &.first:before {
    left: 0;
    bottom: 0;
    width: 52px;
    height: 52px;
    background-image: url('../img/dropdown-icons/1.png');
  }

  &.second:before {
    left: -6px;
    bottom: -5px;
    width: 61px;
    height: 57px;
    background-image: url('../img/dropdown-icons/2.png');
  }

  &.third:before {
    left: -4px;
    bottom: 8px;
    width: 49px;
    height: 38px;
    background-image: url('../img/dropdown-icons/3.png');
  }

  &.fourth:before {
    left: 0;
    bottom: 4px;
    width: 43px;
    height: 38px;
    background-image: url('../img/dropdown-icons/4.png');
  }

  &.fifth:before {
    left: 3px;
    bottom: 1px;
    width: 37px;
    height: 37px;
    background-image: url('../img/dropdown-icons/5.png');
  }

  &.sixth:before {
    left: -13px;
    bottom: -3px;
    width: 58.78px;
    height: 58.78px;
    background-image: url('../img/dropdown-icons/6.png');
  }
}