.footer .social__link {
  width: 38px;
  height: 38px;
}

.footer {
  background-color: $black;
}

.footer__inner {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 40%;

  background: url('../img/footer-left-background-img.png') no-repeat right top;
  background-size: contain;
}

.footer__logo-wrapper {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 15px;
}

.footer__logo-text {
  max-width: 160px;
  border-left: 1px solid $white;
  padding-left: 20px;
  font-size: 14px;
  color: #919191;
}

.footer__left-text {
  margin-bottom: 44px;
  color: #919191;
  max-width: 370px;
}

.footer__title {
  margin-bottom: 30px;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.footer__category-list {

  li + li {
    margin-top: 6px;
  }

  a {
    text-transform: uppercase;
    color: #919191;
    transition: color .2s linear;

    &:hover {
      color: lighten(#919191, 20%);
    }
  }
}

.footer__right {
  width: 55%;
  padding: 100px 60px 0 0;
  display: flex;
  justify-content: space-between;
}

.footer__right-time {
  margin-bottom: 8px;
  font-size: 14px;
  color: #e0e0e0;
}

.footer__right-list {
  margin-bottom: 20px;

  li + li {
    margin-top: 5px;
  }

  a {
    display: flex;
    align-items: center;
    color: #919191;
    font-weight: 700;
    font-size: 16px;
    transition: color .2s linear;

    svg {
      margin-right: 10px;
    }

    &:hover {
      color: lighten(#919191, 20%);
    }
  }
}

.footer__right-form__input {
  margin-bottom: 15px;
  width: 240px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  padding: 14px 15px;
  background-color: $white;
  border: 1px solid #707070;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.footer__right-form__btn {
  width: 240px;
  padding: 13px 0;
  display: block;
  background-color: $yellow;
  border: 1px solid #707070;

  font-size: 16px;
  color: $black;
  transition: background-color .2s linear;

  &:hover {
    background-color: darken($yellow, 5%);
  }
}

.footer__text {
  padding-bottom: 12px;
}

.footer__text p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #808080;
  height: 72px;
  overflow: hidden;
  position: relative;

  &:after {
    user-select: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: linear-gradient(to top, $black, rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(to top, $black, rgba(0, 0, 0, 0));
  }
}

.footer__text a {
  font-size: 14px;
  color: $yellow;
}

.footer__text.show-content p {
  height: auto;

  &:after {
    background: none;
  }
}

@media (max-width: 1799px) {
  .footer__right {
    padding-right: 0;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
  }

  .footer__left {
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 100px;
  }

  .footer__inner {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
  }
}

@media (max-width: 1599px) {
  .footer__left {
    grid-column-gap: 50px;
  }
}

@media (max-width: 1533px) {
  .footer__left {
    grid-column-gap: 20px;
  }

  .footer__inner {
    grid-column-gap: 20px;
  }

  .footer__right {
    grid-column-gap: 20px;
  }
}

@media (max-width: 1461px) {
  .footer__right-form__input {
    width: 200px;
  }

  .footer__right-form__btn {
    width: 200px;
  }
}

@media (max-width: 1343px) {
  //.footer__inner {
  //  grid-template-columns: 1fr;
  //}
  //
  //.footer__right {
  //  padding: 0;
  //  justify-content: flex-start;
  //}
  //
  //.footer__left {
  //  padding: 0;
  //  justify-content: flex-start;
  //}

  .footer__right {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .footer__left {
    padding-top: 50px;
    height: max-content;
    grid-column-gap: 50px;
  }

  .footer__inner {
    justify-content: space-around;
  }

  .footer__right-item:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
    grid-column-gap: 20px;
  }

  .footer__right-list {
    margin: 0;
  }
}

@media (max-width: 1174px) {
  .footer__left {
    grid-column-gap: 20px;
  }
}

@media (max-width: 1126px) {
  .footer__left {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-size: 80%;
    grid-row-gap: 10px;
  }

  .footer__right-item:nth-of-type(2) {
    display: block;
  }

  .footer__right-form {
    margin-top: 10px;
  }


  .footer__right {
    grid-row-gap: 10px;
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .footer__title {
    font-size: 23px;
  }

  .footer__logo-wrapper,
  .footer__left-text {
    margin-bottom: 40px;
  }

  .footer__right-form__btn {
    font-size: 15px;
  }
}

@media (max-width: 944px) {
  .footer__inner {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .footer__left {
    background-size: 35%;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
  }

  .footer__right {
    padding: 0;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }

  .footer__right-item:first-of-type {
    order: 1;
  }
}

@media (max-width: 767px) {
  .footer__left {
    background: none;
    padding-top: 30px;
  }

  .footer__right-item:first-of-type {
    order: 0;
  }

  .footer__right {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .footer__title {
    margin-bottom: 25px;
  }

  .footer__inner {
    grid-row-gap: 20px;
  }
}

@media (max-width: 649px) {
  .footer__left-text {
    font-size: 14px;
  }

  .footer__logo-text {
    display: none;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__logo-wrapper,
  .footer__left-text {
    margin-bottom: 25px;
  }

  .footer__left {
    grid-column-gap: 30px;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 575px) {
  .footer__left {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .footer__right-form__btn,
  .footer__right-form__input {
    width: 100%;
  }
}