.header__top {
  background-color: #4d4d4d;
  min-height: 43px;
  display: flex;
  align-items: center;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-action {
  display: flex;
  align-items: center;
}

.header__top-btn,
.header__top-link {
  display: flex;
  align-items: center;

  font-size: 12px;
  color: $white;
}

.header__top-btn {
  margin-right: 28px;

  svg {
    margin-right: 10px;
  }
}

.header__top-link {
  padding: 8.5px 34px;
  background-color: $yellow;
  transition: background-color .2s linear;

  svg {
    margin-right: 5px;
  }

  &:hover {
    background-color: darken($yellow, 5%);
  }
}

.header__middle-inner {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-wrapper {
  margin-right: 39px;
  display: flex;
  align-items: center;
}

.header__logo-text {
  padding-left: 10px;
  border-left: 1px solid $white;

  max-width: 160px;
  font-size: 14px;
}

.header__form {
  margin-right: 38px;
  position: relative;
  flex-grow: 1;
  display: flex;
}

.header__form-input {
  flex-grow: 1;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: $black;

  padding: 14.5px 60px 14.5px 26px;
  background-color: $white;
  border: 1px solid #e2e2e2;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::placeholder {
    color: #adadad;
  }
}

.header__form-btn {
  padding: 0 11.5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $yellow;
  transition: background-color .2s linear;

  &:hover {
    background-color: darken($yellow, 5%);
  }
}

.header__action {
  margin-right: 17px;
  display: flex;
  align-items: center;
}

.header__action-item {
  position: relative;
}

.header__action-item + .header__action-item {
  margin-left: 30px;
}

.header__action-link {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 14px;

  &--phone {
    font-size: 16px;
    font-weight: 700;
  }
}

.header__action-icon__phone {
  margin-right: 12px;
}

.header__action-icon__dropdown {
  margin-left: 8px;
  transition: transform .2s linear;

  &.rotate {
    transform: rotate(180deg);
  }
}

.header__action-icon__bag {
  margin-right: 8px;
}

.header__action-bag__number {
  min-width: 18px;
  height: 18px;
  background-color: $yellow;
  border-radius: 50%;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: $black;
  position: absolute;
  top: -8px;
  left: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom {
  height: 65px;
  background-color: $yellow;
}

.header__bottom-inner {
  display: flex;
  align-items: center;
}

.header__bottom-discount {
  background: url('../img/bg.jpg') no-repeat center;
  background-size: cover;

  width: 191px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 25px;
  color: $white;
}

@media (max-width: 1599px) {
  .header__bottom-discount {
    font-size: 22px;
    width: 160px;
  }
}

@media (max-width: 1399px) {
  .header__bottom-discount {
    font-size: 20px;
    width: 130px;
  }

  .header__form-input {
    padding: 12px 50px 12px 20px;
  }

  .header__form-btn {
    padding: 0 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .header__action {
    margin-right: 10px;
  }

  .header__action-item + .header__action-item {
    margin-left: 20px;
  }

  .header__form {
    margin-right: 30px;
  }

  .header__logo-wrapper {
    margin-right: 15px;
  }
}

@media (max-width: 1199px) {
  .header__bottom-discount {
    font-size: 18px;
    width: 110px;
  }

  .header__action-link--phone span {
    display: none;
  }

  .header__action-icon__dropdown {
    display: none;
  }

  .header__action-icon__phone {
    margin: 0;
    width: 20px;
    height: 20px;
  }

  .header__action-icon__scale {
    width: 29px;
    height: 22px;
  }

  .header__action-icon__favourite {
    width: 22px;
    height: 19px;
  }

  .header__action-icon__bag {
    width: 20px;
    height: 22px;
    margin: 0;
  }

  .header__action-bag__number {
    min-width: 15px;
    height: 15px;
    font-size: 13px;
    left: 11px;
    top: -5px;
  }

  .header__action-link-bag__text {
    display: none;
  }
}

@media (max-width: 1099px) {
  .header__bottom {
    height: 60px;
  }

  .header__bottom-discount {
    height: 60px;
    font-size: 17px;
  }
}

@media (max-width: 991px) {
  .header__top {
    display: none;
  }

  //.header__logo-text {
  //  display: none;
  //}
  //
  //.header__form-input {
  //  display: none;
  //}
  //
  //.header__form-btn {
  //  height: 45px;
  //  position: static;
  //}
  //
  //.header__form {
  //  margin: 0 20px 0 auto;
  //  flex-grow: 0;
  //}

  .header__logo-text {
    font-size: 13px;
  }

  .header__action {
    margin-right: 20px;
  }

  .header__middle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: #3c3c3c;
  }

  .header__middle-inner {
    padding: 10px 0;
  }

  .header__bottom {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #3c3c3c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .header__bottom-inner {
    padding-top: 59px;
    flex-direction: column;
    align-items: flex-start;
  }
}