.news {
  text-align: center;
}

.news__inner {
  padding: 120px 0 70px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.news__banner {
  display: block;
  height: 502px;
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.6;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
  }
}

.news__banner-content {
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 2;
  transition: all .4s;
}

.news__banner:hover {

  &:before {
    opacity: 0.8;
  }

  .news__banner-content {
    top: 10%;
  }
}

.news__banner-title {
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 700;
}

.news__banner-text {
  margin-bottom: 30px;
}

.news__banner-link {
  margin-left: 20px;
  color: $yellow;
  font-weight: 700;

  svg {
    margin-left: 10px;
  }
}

.news__side {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 30px;
}

.news__side-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
  align-items: center;
}

.news__side-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news__side-item__title {
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: 700;
}

.news__side-item__time {
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
}

.news__side-item__text {
  margin-bottom: 5px;
  font-size: 14px;
}

.news__side-item__link {
  margin-top: auto;
  font-size: 14px;
  font-weight: 700;
  color: $yellow;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1399px) {

  .news__side-item__title {
    font-size: 16px;
  }

  .news__side-item {
    grid-column-gap: 20px;
    align-items: flex-start;
  }

  .news__side {
    grid-row-gap: 20px;
  }
}

@media (max-width: 1199px) {
  .news__inner {
    grid-column-gap: 25px;
  }

  .news__side-item {
    grid-column-gap: 15px;
  }
}

@media (max-width: 991px) {
  .news__inner {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }

  .news__side-item {
    grid-column-gap: 30px;
  }

  .news__side {
    grid-row-gap: 30px;
  }

  .news__side-item__content {
    justify-content: space-between;
  }

  .news__side-item__link {
    margin-top: 0;
  }

  .news__side-item__title {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .news__side-item__title {
    font-size: 17px;
  }

  .news__side-item {
    grid-column-gap: 15px;
  }
}

@media (max-width: 575px) {
  .news__banner {
    height: 400px;
  }

  .news__side-item {
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }

  .news__banner:hover .news__banner-content {
    top: 5%;
  }

  .news__banner-content {
    padding: 0 15px;
    top: 88%;
  }

  .news__banner-title {
    font-size: 18px;
  }
}

@media (max-width: 374px) {
  .news__banner-title {
    margin-bottom: 25px;
  }

  .news__banner-text {
    margin-bottom: 25px;
  }
}