.order {
  margin-bottom: 75px;
}

.order__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.order__top {
  margin-bottom: 25px;
}

.order__top-item {
  padding: 0 40px 0 0;
  background-color: #3c3c3c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);

  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    display: block;
    margin-right: 50px;
  }
}

.order__top-item + .order__top-item {
  margin-top: 15px;
}

.order__top-item__col {
  display: flex;
  align-items: center;
}

.order__top-item__title {
  max-width: 320px;
  font-size: 16px;
  font-weight: 700;
}

.order__top-item-amount,
.order__top-item-price {
  margin-right: 160px;
  font-weight: 700;
}

.order__top-item__remove {
  width: 25px;
  height: 22px;
  background-color: $yellow;
  padding: 0;
  position: relative;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .2s linear;

  &:hover {
    background-color: darken($yellow, 5%);
  }

  &:before,
  &:after {
    content: '';
    display: block;
    width: 14px;
    height: 4px;
    background-color: #3c3c3c;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2px;
    margin-left: -7px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.order__middle {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  justify-content: center;
}

.order__middle-item {
  height: 450px;
  padding-top: 25px;
  background-color: #3c3c3c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.order__middle-title {
  padding-left: 30px;
  margin-bottom: 35px;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: $yellow;
}

.order__middle-item__inputs {
  padding: 0 40px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  label {
    text-align: right;
    cursor: pointer;
    display: flex;
    align-items: center;

    font-size: 16px;
    color: #6a6a6a;
  }

  label + label {
    margin-top: 15px;
  }

  input,
  textarea {
    margin-left: 20px;
    width: 380px;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: $black;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border .2s linear;

    &::placeholder {
      color: #6a6a6a;
    }

    &:hover {
      border-color: $black;
    }
  }

  input {
    height: 55px;
  }

  textarea {
    padding-top: 15px;
    resize: none;
    height: 100px;
  }

  .input-middle {
    width: 190px;
  }

  .input-small {
    margin: 0 0 0 10px;
    width: 85px;
  }

  .input-small__wrapper {
    display: flex;
    width: 100%;
  }
}

.order__middle-item__radios-wrapper  {
  padding-left: 40px;
  display: flex;

  p {
    margin-right: 30px;
    color: #6a6a6a;
  }
}

.order__middle-item__radios {

  display: flex;
  flex-direction: column;

  .custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .custom-radio + label {
    margin-bottom: 25px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .custom-radio + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #707070;
    background-color: $white;
    border-radius: 50%;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .custom-radio:checked + label::before {
    background-image: url('../img/radio-checked.png');
  }
}

.order__footer {
  padding: 0 30px;
  background-color: #3c3c3c;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.order__footer p {
  font-size: 19px;

  span {
    margin-left: 20px;
    font-weight: 700;
    color: $yellow;
  }
}

.order__footer button {
  font-size: 12px;
  color: $black;
  text-transform: uppercase;

  background-color: $yellow;
  width: 250px;
  height: 60px;
  transition: background-color .2s linear;

  &:hover {
    background-color: darken($yellow, 5%);
  }
}

@media (max-width: 1299px) {

  .order__top-item-amount,
  .order__top-item-price {
    margin-right: 80px;
  }
}

@media (max-width: 1199px) {

  .order__middle {
    grid-template-columns: 570px;
  }
}

@media (max-width: 991px) {

  .order__top-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 30px;

    img {
      margin-right: 30px;
    }
  }

  .order__top-item__col {
    width: 100%;
  }

  .order__top-item__col:first-of-type {
    padding-right: 20px;
    margin-bottom: 25px;
  }

  .order__top-item__col:last-of-type {
    padding-left: 20px;
  }
}

@media (max-width: 689px) {

  .order__middle {
    grid-template-columns: 1fr;
  }

  .order__middle-item__inputs {
    padding: 0 30px 0 15px;
  }

  .order__footer {
    display: block;
    height: auto;
    padding: 30px 20px;

    p {
      margin-bottom: 30px;
    }

    button {
      width: 220px;
      height: 50px;
    }
  }
}

@media (max-width: 575px) {

  .order__top-item__col:first-of-type {
    flex-direction: column;
    align-items: flex-start;
  }

  .order__top-item img {
    margin: 0 0 15px;
  }

  .order__top-item__col:first-of-type {
    padding: 0;
  }

  .order__top-item__col:last-of-type {
    padding: 0;
    justify-content: space-around;
  }

  .order__top-item-amount,
  .order__top-item-price {
    margin: 0;
  }

  .order__top-item__title {
    padding-left: 10px;
    max-width: 100%;
  }

  .order__middle-item {
    height: auto;
    padding-bottom: 45px;
  }

  .order__middle-item__inputs {

    label {
      text-align: left;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    label + label {
      margin-top: 30px;
    }

    input,
    textarea {
      margin: 10px 0 0;
      width: 100%;
    }

    .input-small__wrapper {
      margin-top: 10px;
    }

    .input-small {
      width: 40%;
      margin: 0;
    }

    .input-small:first-of-type {
      margin-right: 10px;
    }

    .input-middle {
      width: 100%;
    }
  }

  .order__middle-item__radios-wrapper {
    padding-left: 20px;
    flex-direction: column;

    p {
      margin: 0 0 25px 0;
    }
  }

  .order__middle-item__inputs {
    padding: 0 20px;
  }

  .order__middle-title {
    padding-left: 20px;
  }
}