.section {

  &--tabs {
    margin-bottom: 190px;
  }

  &--about {
    margin-bottom: 140px;
  }

  &--recommended {
    margin-bottom: 175px;
  }
}

@media (max-width: 767px) {
  .section--intro .container {
    padding: 0;
  }
}
