.tabs__triggers {
  margin: 45px 0 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tabs__triggers-item > span {
  font-size: 22px;
  font-weight: 700;
  color: $white;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: $yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: width 0.4s ease-out;
  }
}

.tabs__triggers-item--active > span {

  &:after {
    width: 100%;
  }
}

.tabs__content-item {
  position: relative;
  display: none;
  padding: 0 20px;

  .swiper-button-prev:after,
  .swiper-button-next:after {
    color: $yellow;
    font-size: 20px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.tabs__content-item--active {
  display: block;
}

@media (max-width: 1561px) {
  .tabs__triggers-item {
    margin: 15px 0;
    width: 33.33333%;
    text-align: center;
  }
}

@media (max-width: 1439px) {
  .tabs__content-item {
    padding: 0;
  }
}

@media (max-width: 1399px) {
  .tabs__triggers-item > span {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .tabs__content-item {

    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: $yellow;
      font-size: 15px;
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 35px;
      height: 35px;
    }

    .swiper-button-next {
      right: 2px;
    }

    .swiper-button-prev {
      left: 2px;
    }
  }

  .tabs__triggers-item > span {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .tabs__triggers-item {
    width: 50%;
  }

  .tabs__triggers-item > span:after {
    display: none;
  }

  .tabs__triggers-item--active > span {
    color: $yellow;
  }
}

@media (max-width: 575px) {
  .tabs__content-item {

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }

  .tabs__triggers-item {
    margin: 10px 0;
  }

  .tabs__triggers-item > span {
    font-size: 16px;
  }
}

@media (max-width: 487px) {
  .tabs__triggers-item > span {
    font-size: 14px;
  }
}

@media (max-width: 359px) {
  .tabs__triggers-item {
    width: 100%;
  }
}