.title {
  text-align: center;
  font-family: 'Bebas Neue Cyrillic', sans-serif;
  font-size: 41px;
  font-weight: 400;
  color: $white;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 220px;
    height: 12px;
    background-color: $yellow;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    z-index: -1;
  }
}

@media (max-width: 1399px) {
  .title {
    font-size: 35px;

    &:after {
      height: 8px;
      bottom: 10%;
      width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 34px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 33px;
  }

  .title:after {
    height: 6px;
    bottom: 11%;
    width: 180px;
  }
}