
<div class="fixed-nav">
    <ul class="fixed-nav__list">
        <li>
            <a href="index.html">
                <svg width="21.673" height="23.97" viewBox="0 0 21.673 23.97">
                    <use xlink:href="img/sprite.svg#icon-fixed-nav-home"></use>
                </svg>
                Головна
            </a>
        </li>
        <li>
            <a id="fixed-nav__tel-popup" href="#">
                <svg width="24.188" height="20.499" viewBox="0 0 24.188 20.499">
                    <use xlink:href="img/sprite.svg#icon-fixed-nav-chat"></use>
                </svg>
                Зв’язок
            </a>
        </li>
        <li>
            <a id="fixed-nav__search-popup" href="#">
                <svg width="21.543" height="21.543" viewBox="0 0 21.543 21.543">
                    <use xlink:href="img/sprite.svg#icon-fixed-nav-search"></use>
                </svg>
                Пошук
            </a>
        </li>
        <li>
            <a id="fixed-nav__cart-popup" href="#">
                <svg width="20.434" height="22.593" viewBox="0 0 20.434 22.593">
                    <use xlink:href="img/sprite.svg#icon-fixed-nav-bag"></use>
                </svg>
                Кошик
            </a>
        </li>
        <li>
            <a href="#">
                <svg width="26.251" height="26.246" viewBox="0 0 26.251 26.246">
                    <use xlink:href="img/sprite.svg#icon-fixed-nav-user"></use>
                </svg>
                Акаунт
            </a>
        </li>
    </ul>
</div>