<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__left">
                <div class="footer__left-item">
                    <div class="footer__logo-wrapper">
                        <a class="footer__logo" href="index.html">
                            <img class="img" src="img/logo.png" width="175" height="59" alt="Corvus">
                        </a>

                        <p class="footer__logo-text">
                            Інтернет магазин
                            зброї та&nbsp;рибальского
                            пріладдя
                        </p>
                    </div>

                    <p class="footer__left-text">
                        Lorem ipsum is a pseudo-Latin text used Lorem ipsum is a pseudo-Latin text used Lorem ipsum is a pseudo-Latin text used Lorem ipsum is a pseudo-Latin text used Lorem ipsum is a pseudo-Latin text used Lorem ipsum is a pseudo-Latin text used
                    </p>

                    <ul class="social">
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg width="10" height="18" viewBox="0 0 6 11">
                                    <use xlink:href="img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg width="20" height="20" viewBox="0 0 12 12">
                                    <use xlink:href="img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg width="23" height="24" viewBox="0 0 14 14">
                                    <use xlink:href="img/sprite.svg#icon-viber"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg width="19" height="16" viewBox="0 0 12 10">
                                    <use xlink:href="img/sprite.svg#icon-telegram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social__item">
                            <a class="social__link" href="#" target="_blank">
                                <svg width="21" height="21" viewBox="0 0 13 13">
                                    <use xlink:href="img/sprite.svg#icon-whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__left-item">
                    <h4 class="footer__title">Розділи сайту</h4>

                    <ul class="footer__category-list">
                        <li>
                            <a href="#">Категорії Товарів</a>
                        </li>
                        <li>
                            <a href="#">Про магазин</a>
                        </li>
                        <li>
                            <a href="#">Огляди товарів</a>
                        </li>
                        <li>
                            <a href="#">Новини та&nbsp;статті</a>
                        </li>
                        <li>
                            <a href="#">Категорії Товарів</a>
                        </li>
                        <li>
                            <a href="#">Доставка&nbsp;- оплата</a>
                        </li>
                        <li>
                            <a href="#">Відгукі</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Контакти</a>
                        </li>
                        <li>
                            <a href="#">Акції</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer__right">
                <div class="footer__right-item">
                    <h4 class="footer__title">Карта проїзду</h4>

                    <div id="map"></div>
                </div>

                <div class="footer__right-item">
                    <div class="footer__right-info">
                        <h4 class="footer__title">Контакти</h4>

                        <p class="footer__right-time">Пн-Пт с&nbsp;08:00 до&nbsp;18:00</p>

                        <ul class="footer__right-list">
                            <li>
                                <a href="tel:380968876434">
                                    <svg width="19.251" height="18.816" viewBox="0 0 19.251 18.816">
                                        <use xlink:href="img/sprite.svg#icon-phone-footer-list"></use>
                                    </svg>
                                    +38 (096) 887-64-34
                                </a>
                            </li>
                            <li>
                                <a href="tel:380667753696">
                                    <svg width="19.251" height="18.816" viewBox="0 0 19.251 18.816">
                                        <use xlink:href="img/sprite.svg#icon-phone-footer-list"></use>
                                    </svg>
                                    +38 (066) 775-36-96
                                </a>
                            </li>
                            <li>
                                <a href="tel:380667753696">
                                    <svg width="19.251" height="18.816" viewBox="0 0 19.251 18.816">
                                        <use xlink:href="img/sprite.svg#icon-phone-footer-list"></use>
                                    </svg>
                                    +38 (066) 775-36-96
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@corvus.in.ua">
                                    <svg width="19.259" height="15.407" viewBox="0 0 19.259 15.407">
                                        <use xlink:href="img/sprite.svg#icon-mail-footer-list"></use>
                                    </svg>
                                    info@corvus.in.ua
                                </a>
                            </li>
                        </ul>
                    </div>

                    <form class="footer__right-form" action="/" method="post">
                        <input class="footer__right-form__input" type="tel" placeholder="+38(___) ___-__-__">
                        <button class="footer__right-form__btn btn" type="submit">Замовити дзвінок</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores at autem distinctio eligendi enim ex facere illo inventore, ipsum iste minima, nobis odit omnis quis quod ratione recusandae repudiandae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aspernatur consectetur dolor doloribus nostrum, reiciendis sapiente sequi totam voluptas! Culpa id illo illum in nemo quam quibusdam sed vel?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur atque commodi deleniti ducimus, eos eveniet explicabo, fugiat fugit illo modi mollitia possimus praesentium quae quaerat qui quibusdam similique unde.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur atque commodi deleniti ducimus, eos eveniet explicabo, fugiat fugit illo modi mollitia possimus praesentium quae quaerat qui quibusdam similique unde.

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium architecto assumenda distinctio dolore esse, eveniet fuga ipsa ipsam itaque laborum libero nobis, nulla officia, officiis perspiciatis quae quasi tempora?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iste iusto labore maiores, nesciunt quis! Accusantium adipisci, aperiam, ea exercitationem illum nostrum obcaecati optio provident quisquam quo sit temporibus veniam?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque delectus dignissimos doloribus excepturi qui sint voluptatibus? Accusamus architecto consequatur consequuntur dolore, doloribus excepturi, fugit natus nostrum praesentium provident qui, repudiandae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, consequatur dolore ipsa iusto necessitatibus veniam. Aliquam aperiam blanditiis dignissimos dolor eaque earum eius, ipsum iure labore officiis provident repudiandae temporibus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur delectus dolorem doloribus id impedit laudantium mollitia necessitatibus, nisi placeat quae, quia quibusdam, quos reiciendis! Commodi dolorum iure neque porro quidem.
            </p>
            <a id="read-more" href="#">Читати далі</a>
        </div>
    </div>
</footer>